@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

.App {
  text-align: center;
}

.Page {}

.CardGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: .0625in;

  width: fit-content;
  height: 100%;
  margin: 0 auto;

  box-sizing: border-box;
  border: 1px solid rgb(239, 239, 239);
}

.CardGrid .Card {
  width: 100%;
  height: 100%;
  object-fit: scale-down;
  aspect-ratio: 4 / 3;
}

@media print {
  :root {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }

  @page {
    size: letter portrait;
    margin: 15mm 0mm 15mm 0mm;
  }

  .App {
    overflow-x: hidden;
  }

  .Page {
    height: 100vh;
    width: 100vw;
    /* fill the print page so content can be bottom-aligned  */
  }
}